<nav class="navbar navbar-dark navbar-expand-lg bg-black fixed-top">
    <div class="container">
      <a class="navbar-brand fs-2 fw-bold" routerLink="all" >Fake Store</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto gap-lg-5 ">
          <li class="nav-item">
            <a class="nav-link py-1 ps-1 fw-bolder" aria-current="page" routerLink="all" routerLinkActive="bg-secondary rounded text-white " >All</a>
          </li>
          <li class="nav-item">
            <a class="nav-link py-1 ps-1 fw-bolder" aria-current="page" routerLink="man" routerLinkActive="bg-secondary rounded text-white " >Men</a>
          </li>
          <li class="nav-item">
            <a class="nav-link py-1 ps-1 fw-bolder" aria-current="page" routerLink="women" routerLinkActive="bg-secondary rounded text-white " >Women</a>
          </li>
          <li class="nav-item">
            <a class="nav-link py-1 ps-1 fw-bolder" aria-current="page" routerLink="jewelery" routerLinkActive="bg-secondary rounded text-white " >Jewelery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link py-1 ps-1 fw-bolder" aria-current="page" routerLink="electronics" routerLinkActive="bg-secondary rounded text-white " >Electronics</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>